. {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex: row wrap;
  justify-content: space-between;
}

form {
  margin: 20px;
}

div {
  width: 125px;
  height: auto;
  border: solid 2px black;
  text-align: center;
}
