* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(210, 210, 210);
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border: none;
}

form {
  margin: 20px;
}

div {
  width: 150px;
  height: auto;
  /* border: solid 2px black; */
  text-align: center;
  /* padding: 10px; */
  margin: 10px;
}

img {
  border-radius: 5%;
}

h1 {
  text-align: center;
  margin: 20px;
}

/* .preview {
  padding-top: 5px;
  border: solid 1px gray;
} */
